[
	{tuna, [
		{amqp_host, "localhost"},
		{amqp_port, 5672},
		{publish_interval_ms, 25},
		{publish_batch_size, 1},
		{metrics_push_interval_ms, 5000},
		{pushgateway_url, "http://localhost:9091/metrics/job/tuna/instance/local"}
	]},

	{sasl, [
		{sasl_error_logger, false}
	]},

	{kernel, [
		{logger_level, info},
		{logger, [{handler, default, logger_std_h,
			#{
				level => info,
				formatter => {logger_formatter, #{
					legacy_header => false,
					single_line => true,
					template => [time, " ", level, " [", module, ":", function, "] ", msg, "\n"]
				}}
			}
		}]}
	]}
].
