[
	{tuna, [
		{amqp, [
			{host, "localhost"},
			{port, 5672},
			{publisher, [
				{interval, 25},
				{size, 1}
			]}
		]},
		{metrics, [
			{interval, 5000},
			{url, "http://localhost:9091/metrics/job/tuna/instance/local"}
		]}
	]},

	{sasl, [
		{sasl_error_logger, false}
	]},

	{kernel, [
		{logger_level, info},
		{logger, [{handler, default, logger_std_h,
			#{
				level => info,
				formatter => {logger_formatter, #{
					legacy_header => false,
					single_line => true,
					template => [time, " ", level, " [", module, ":", function, "] ", msg, "\n"]
				}}
			}
		}]}
	]}
].
